name: Terraform AWS Apply

on:
  push:
    branches:
      - main

jobs:
  terraform:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      TF_VAR_my_public_ip: ${{ secrets.MY_PUBLIC_IP }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        working-directory: Terraform
        run: terraform init -input=false

      - name: Terraform Plan
        working-directory: Terraform
        run: terraform plan -input=false

      - name: Terraform Apply
        working-directory: Terraform
        run: terraform apply -auto-approve -input=false
